<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizacion</title>

    <link rel="stylesheet" href="./css/bootstrap.min.css">

</head>
<body>
    <center><h2 style="color: #830000;">Cotizacion</h2></center>      

    <div class="container">
        <div class="container">
            <div class="py-5 text-center">
                <h2>Cotización de Préstamo para Automóvil</h2>
            </div>
    
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form action="/cotizacion" method="post" class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label for="valor" class="form-label">Valor del Automóvil:</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="text" class="form-control" id="valor" name="valor" required>
                            </div>
                            <div class="invalid-feedback">
                                Ingresa el valor del automóvil.
                            </div>
                        </div>
    
                        <div class="mb-3">
                            <label for="pinicial" class="form-label">Porcentaje de Pago Inicial:</label>
                            <select class="form-select" id="pinicial" name="pinicial">
                                <option value="10">10%</option>
                                <option value="30">30%</option>
                                <option value="50">50%</option>
                                <option value="70">70%</option>
                            </select>
                        </div>
    
                        <div class="mb-3">
                            <label for="plazo" class="form-label">Plazos:</label>
                            <select class="form-select" id="plazo" name="plazo">
                                <option value="12">12 meses</option>
                                <option value="24">24 meses</option>
                                <option value="36">36 meses</option>
                                <option value="48">48 meses</option>
                                <option value="60">60 meses</option>
                            </select>
                        </div>
    
                        <div class="text-center">
                            <button class="btn btn-primary me-3" type="submit">Calcular</button>
                            <button class="btn btn-secondary" type="reset">Limpiar</button>
                        </div>
                    </form>
                </div>
            </div>
    
            <hr class="my-5">
    
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    
                    <div class="resultado">
                        <h4>Información de la Cotización</h4>

                        <%
                        let pagoInicial= 0;
                        let totalfin = 0;
                        let pmensual = 0;
                
                        if(valor!=null){
                            pagoInicial = valor * (pinicial/100);
                            totalfin = valor - pagoInicial;
                            pmensual= totalfin/plazo;
                        %>
                        <ul class="list-group list-group-flush">
                            <% if (valor != null) { %>
                            <li class="list-group-item bg-info text-white">
                                <span class="fw-bold">Valor del Automóvil:</span> $<%=valor%>
                            </li>
                            <li class="list-group-item bg-info text-white">
                                <span class="fw-bold">Porcentaje de Pago Inicial:</span> <%=pinicial%>%
                            </li>
                            <li class="list-group-item bg-info text-white">
                                <span class="fw-bold">Plazos:</span> <%=plazo%> meses
                            </li>
                            <li class="list-group-item bg-info text-white">
                                <span class="fw-bold">Pago Inicial:</span> <%=pagoInicial%> 
                            </li>
                            <li class="list-group-item bg-info text-white">
                                <span class="fw-bold">Total a Financiar:</span> <%=totalfin%> 
                            </li>
                            <li class="list-group-item bg-info text-white">
                                <span class="fw-bold">Pago Mensual:</span> <%=pmensual%> 
                            </li>
                            <% } %>
                        </ul>
                        

                        <% } %>

                    </div>
            </div>              
        </div>
    </div>

</body>



</html>